{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<meta charset = "utf-8">
		<title>Доставка и способы оплаты - Paporotnik.ua</title>
		<link rel = "stylesheet", type = "text/css", href = "{% static 'myapp/style.css' %}">
	</head>
	<body>
		<div id="container">
			<!-- Верхняя панель (заголовок) -->
			<div id="header">
				<div style = "float: left; width:100%">
					<div style = "margin: 0 10%;">
						<br><h1 id = "heed">Paporotnik.ua</h1><br>
					</div>
				</div>
				<div id = "divLogo">
					<a href = "{% url 'myapp.views.index' %}">
						<img src = "{% static 'myapp/logo.jpg' %}", id = "logo", width = "125", height = "125"></a>
				</div>
				<div id = "trash" align = "center">
					<a href = "{% url 'myapp.views.basket' %}">Корзина
						{% if basket_items %}
						<img align = "center", width = "70", height = "70", src = "{% static 'myapp/basket_full.png' %}">
						{% else %}
						<img align = "center", width = "70", height = "70", src = "{% static 'myapp/basket_empty.png' %}">
						{% endif %}
					</a>
				</div>
			</div>
			<!-- Центр, основное содержимое -->
			<div id="wrapper">
				<div id="content">
					<div id = "itemArea">
						<p align = "center">
						<h1 align = "center", style = "color: #44B03A">Доставка и способы оплаты</h1>
						<p align = "left">
						При покупке товара требуется 100% предоплата на карту ПриватБанка. 
						Номер карты вам сообщается после оформления заказа. В харькове сделать предоплату можно
						при личной встрече.
						<p>
						<h2>Доставка</h2>
						Все товары которые заказываются "под заказ", доставка 20-30 рабочих дней в Украину
						(т.е. выходные и праздничные дни не учитываются).
						РЕДКО! Но бывают форс - мажорные ситуации со службой доставки и посылки задерживаются,
						Вы должны быть готовы к этому.
						<p>
						Доставка того, что есть
						в НАЛИЧИИ в другие города Украины 1-2 дня.
						<p>
						Доставка по Украине осуществляется Новой Почтой. За доставку платит получатель при получении 
						по тарифам Новой Почты (в среднем это 25-30 грн). Если вам удобней довставлять другой службой,
						это нужно уточнить при подтверждении заказа.
						<p>
						Доставка в Харьков бесплатная, забирать лично у нас. Так же в Харькове возможна адресная доставка, 
						стоимость такой доставки 30 грн.
					</div>
					<div align = "center", style = "margin-bottom: 30px;">
						{% for item in rand_items %}
							<div class = "photoS">
									<a href = "item/{{item.id}}">
										<img src = "{{item.photo.url}}", width = "150", height = "150">
									{{item.name}}
									<div style = "display: block;", align = "center">
										{% if item.is_available_now %}
											<button class = "enabledMin">В наличии</button>
										{% else %}
											<button class = "disabledMin">Под заказ</button>
										{% endif %}
										<b>{{item.cost}} грн</b>
									</div>
									</a>
								</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- Меню слева (навигация) -->
			<div id="navigation">
				<p style = "margin-top: 0.5em; margin-bottom: 0.5em;">
					<a href = "{% url 'myapp.views.index' %}"><button class = "menuBtns">Главная</button></a>
				<p style = "margin-top: 0.5em; margin-bottom: 0.5em;">
					<a href = "{% url 'myapp.views.goods_preview' %}"><button class = "menuBtns">Товары</button></a>
				<p style = "margin-top: 0.5em; margin-bottom: 0.5em;">
					<a href = "{% url 'myapp.views.contacts' %}"><button class = "menuBtns">Контакты</button></a>
				<p style = "margin-top: 0.5em; margin-bottom: 0.5em;">
					<a href = "{% url 'myapp.views.delivery' %}"><button class = "menuBtns">Доставка и оплата</button></a>
			</div>
			<!-- Доп. информация справа, возможно реклама -->
			<div id="extra" width = "200">
				<p>
				<h3 align = "center">Специальные предложения</h3>
				<p align = "center">
				<img height = "300", width = "200">
			</div>
			<!-- Футер, нижняя часть -->
			<div id="footer">
				<br><h3 align = "center">Paporotnik.ua</h3><br>
			</div>
		</div>
	</body>
</html>